<%@ Master Language="C#" MasterPageFile="~/User.Master" AutoEventWireup="true" CodeBehind="SportsAssociationManager.master.cs" Inherits="SportsManagementSystem.SportsAssociationManager.SportsAssociationManager" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
